<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - Big Rapper Brasil</title>

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <nav class="menu">
        <span>Big Rapper Brasil</span>

        <div class="menu-pages">
            <button class="button-pages"><span>Início</span></button>
            <button class="button-pages"><span>Cadastrar</span></button>
            <button class="button-pages"><span>Votar</span></button>
            <button class="button-pages"><span>Vencedor no momento</span></button>
        </div>
    </nav>
</body>
</html>