<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vencedor do Momento - Big Rapper Brasil</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/momment-winner.js"></script>
</head>
<body>
    <nav class="p-4 flex justify-between shadow-lg">
        <span>Big Rapper Brasil</span>

        <div class="w-2/5 flex justify-around">
            <a href="/"><button class="button-pages"><span class="text-sm pl-3 pr-3">Início</span></button></a>
            <a href="/registrar"><button class="button-pages text-base"><span class="text-sm pl-3 pr-3">Cadastrar</span></button></a>
            <a href="/votar"><button class="button-pages text-base"><span class="text-sm pl-3 pr-3">Votar</span></button></a>
            <a href="/vencedor-momento"><button class="button-pages text-base"><span class="text-sm pl-3 pr-3">Vencedor no momento</span></button></a>
        </div>
    </nav>

        <div class="mt-20 ml-20 mr-20 mb-20 flex flex-col" id="winner-container">
            <h1 class="self-center text-2xl font-bold">O(a) Rapper com mais votos no momento é:</h1>
    </div>
    
</body>
</html>