<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votar - Big Rapper Brasil</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <nav class="p-4 flex justify-between shadow-lg">
        <span>Big Rapper Brasil</span>

        <div class="w-2/5 flex justify-around">
            <a href="/"><button class="button-pages"><span class="text-sm pl-3 pr-3">Início</span></button></a>
            <a href="/registrar"><button class="button-pages text-base"><span
                        class="text-sm pl-3 pr-3">Cadastrar</span></button></a>
            <a href="/votar"><button class="button-pages text-base"><span
                        class="text-sm pl-3 pr-3">Votar</span></button></a>
            <a href="/vencedor-momento"><button class="button-pages text-base"><span class="text-sm pl-3 pr-3">Vencedor
                        no momento</span></button></a>
        </div>
    </nav>

    <div class="mt-20 ml-20 mr-20 mb-20 flex flex-col">
        <h1 class="self-center text-2xl font-bold">Escolhe um(a) Rapper para votar</h1>

        <div class="w-full h-56 mt-10 pl-20 pr-20 flex fex-row">
            <div class="w-full flex flex-row">
                <img class="h-40 self-center rounded-full"
                    src="https://yt3.ggpht.com/ytc/AAUvwnjc6-OOf2OD3A46dA9Mmb7vjkM6ogy6J3-MoYb1Og=s900-c-k-c0x00ffffff-no-rj">
                <div class="ml-10 h-full flex flex-col justify-center">
                    <span class="text-lg">Pia Mia</span>
                    <span class="mt-2">Do It Again</span>
                </div>
            </div>
            <button class="w-20 h-10 self-center float-right rounded-md bg-gradient-to-r from-green-400 to-blue-500 text-white text-sm">VOTAR</button>
        </div>

        <div class="w-full h-56 mt-10 pl-20 pr-20 flex fex-row">
            <div class="w-full flex flex-row">
                <img class="h-40 self-center rounded-full"
                    src="https://miro.medium.com/max/1080/1*Q9DuNSNYaqoJTk7WjYnWyg.jpeg">
                <div class="ml-10 h-full flex flex-col justify-center">
                    <span class="text-lg">Omarion</span>
                    <span class="mt-2">Post to Be</span>
                </div>
            </div>
            <button class="w-20 h-10 self-center float-right rounded-md bg-gradient-to-r from-green-400 to-blue-500 text-white text-sm">VOTAR</button>
        </div>

                <div class="w-full h-56 mt-10 pl-20 pr-20 flex fex-row">
            <div class="w-full flex flex-row">
                <img class="h-40 self-center rounded-full"
                    src="https://akns-images.eonline.com/eol_images/Entire_Site/2019910/rs_600x600-191010164343-600.cardi-b.ct.101019.jpg?fit=around%7C1080:1080&output-quality=90&crop=1080:1080;center,top">
                <div class="ml-10 h-full flex flex-col justify-center">
                    <span class="text-lg">Cardi B</span>
                    <span class="mt-2">WAP</span>
                </div>
            </div>
            <button class="w-20 h-10 self-center float-right rounded-md bg-gradient-to-r from-green-400 to-blue-500 text-white text-sm">VOTAR</button>
        </div>

    </div>

</body>

</html>